.container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: row;

  align-items: center; /* Center items vertically based on height */
  justify-content: center; /* Center items horizontally */
  animation: 0.7s ease-in-out loadEffect1;
}
@keyframes loadEffect1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.firstSkill {
}

.secondSkill {
  margin-left: 100px;
  margin-right: 100px;
}
